.section {
    margin-top: 2rem;
}

.header {
    text-align: center;
    max-width: 500px;
}

.header:nth-child(1) {
    margin-top: 0px;
}

.titleword {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1.5;
}

.titletext {
    background-color: #33C3F0;
    color: #eee;
    padding: 0.4rem 0rem;
}

.titleword:nth-child(even) {
    text-align: right;
}

.titleword:nth-child(odd) {
    text-align: left;
}

#footer {
    background-color: #282f39;
    color: #eee;
    width: 100vw;
    max-width: 100vw;
    text-align: center;
    height: 20vh;
    padding-top: 4em;
    margin-top: 5vh;
    padding-bottom: 4em;
}

.scroll-down {
    max-width: 20vw;
    margin: 5vh auto;
    opacity: 0.5;
}
